.create {
  border: 1px solid black;
  border-radius: 2px;
  background: $brown;
  color: whitesmoke;
  padding: 5px;
  margin: 10px;
}

.subscription-list {
  margin: 10px;
}

.subscription-list h2 {
  font-size: 20px;
}