<ul>
  <li><%= link_to "#{comment.content}", "#{comment_url(comment)}" %></li>
  <li><%= comment.author.username %></li>
  <li><%= comment.created_at %></li>
  <% parent_comments[comment.id].each do |child_comment| %>  
  <%= render partial: "comments/comment", locals: { comment: child_comment, parent_comments: parent_comments } %>
  <% end %>
</ul>