<main class="main-content">
  <section class="new-form">
    <h2 class="sign-in-title">Edit Sub</h2>

    <form action="<%= sub_url(@sub) %>" method="POST">
      <input type="hidden" name="_method" value="PATCH">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <section>
        <label for="sub_title">Title:</label>
        <input type="text" name="sub[title]" id="sub_title">
      </section>

      <section>
        <label for="sub_description">Description:</label>
        <input type="text" name="sub[description]" id="sub_description">
      </section>

      <section class="sign-in-button">
        <input type="submit" value="Confirm Edits">
      </section>
    </form>
  </section>
  <section>
    <aside class="col-1-3 first-box">
        <ul class="about">
          <li><h3>About Community</h3></li>
          <li><%= @sub.description %></li>
          <li>Created At: <%= @sub.created_at %></li>
        </ul>
    </aside>
    <footer>
      <section class="footer-lists">
        <ul class="col-1-2">
          <li>Help</li>
          <li>Reddit Coins</li>
          <li>Reddit Premium</li>
          <li>Reddit Gifts</li>
        </ul>
        <ul class="col-1-2">
          <li>About</li>
          <li>Careers</li>
          <li>Press</li>
          <li>Advertise</li>
          <li>Blog</li>
          <li>Terms</li>
          <li>Content Policy</li>
        </ul>
      </section>
      <span class="copyright">Reddit Inc © 2021 . All rights reserved<span>
    </footer>
  </section>
</main>