<h1>New Sub</h1>

<form action="<%= subs_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="sub_title">Title:</label>
  <input id="sub_title" type="text" name="sub[title]">

  <label for="sub_description">Description</label>
  <input id="sub_description" type="text" name="sub[description]">

  <label for="sub_moderator">Moderator</label>
  <select name="sub[author_id]" id="sub_moderator">
  <% @users.each do |user| %>
    <option value="<%= user.id %>"><%= user.username %></option>
  <% end %>
  </select>

  <input type="submit" value="Create Sub">
</form>