body {
  background-color: lightblue;
}

main {
  width: 70%;
  margin: 0 auto;
  border-left: 1px solid plum;
  border-right: 1px solid plum;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: plum;
  text-align: center;
}

h1.page-title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
}

