.header-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid plum;
}

.left-nav {
  display: flex;
  padding: 10px;
}

.right-nav {
  margin-right: 5px;
  padding: 2px;
}

.header-nav li {
  margin-left: 4px;
}

.header-nav a, .header-nav form {
  border: 1px solid plum;
  color: white;
  background-color: plum;
  border-radius: 5px;
  padding: 5px;
}

.header-nav input {
  color: white;
  background-color: plum;
  display: block;
  width: 100%;
}
